
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #FAF1EA;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#FAF1EA';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #f4e1e8;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#f4e1e8';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #eed1d6;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#eed1d6';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #e2f0f5;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#e2f0f5';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #fffcd2;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#fffcd2';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #e4f0eb;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#e4f0eb';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #dbd8eb;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#dbd8eb';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #f4f4f4;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#f4f4f4';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #ffffff;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#ffffff';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #ffffff 50%, #f4e1e8 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #f4e1e8;
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffffff 50%, #f4e1e8 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #ffffff 50%, #f4e1e8 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #e2f0f5 50%, #ffffff 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #ffffff;
    color: #e2f0f5;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e2f0f5 50%, #ffffff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #e2f0f5 50%, #ffffff 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #dbd8eb 50%, #fffcd2 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #fffcd2;
    color: #dbd8eb;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dbd8eb 50%, #fffcd2 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #dbd8eb 50%, #fffcd2 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #eed1d6 50%, #FAF1EA 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #FAF1EA;
    color: #eed1d6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #eed1d6 50%, #FAF1EA 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #eed1d6 50%, #FAF1EA 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #fffcd2 50%, #e4f0eb 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #e4f0eb;
    color: #fffcd2;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fffcd2 50%, #e4f0eb 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #fffcd2 50%, #e4f0eb 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #dbd8eb 50%, #e2f0f5 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #e2f0f5;
    color: #dbd8eb;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dbd8eb 50%, #e2f0f5 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #dbd8eb 50%, #e2f0f5 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ffffff 35%, #f4e1e8 35% 70%, #e2f0f5 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ffffff 80%, #f4e1e8 0);
    color: #e2f0f5;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffffff 26%, #f4e1e8 26% 74%, #e2f0f5 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #e2f0f5 35%, #ffffff 35% 70%, #e4f0eb 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #e2f0f5 80%, #ffffff 0);
    color: #e4f0eb;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e2f0f5 26%, #ffffff 26% 74%, #e4f0eb 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #dbd8eb 35%, #fffcd2 35% 70%, #eed1d6 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #dbd8eb 80%, #fffcd2 0);
    color: #eed1d6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dbd8eb 26%, #fffcd2 26% 74%, #eed1d6 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #eed1d6 35%, #FAF1EA 35% 70%, #ffffff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #eed1d6 80%, #FAF1EA 0);
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #eed1d6 26%, #FAF1EA 26% 74%, #ffffff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #fffcd2 35%, #e4f0eb 35% 70%, #f4e1e8 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #fffcd2 80%, #e4f0eb 0);
    color: #f4e1e8;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fffcd2 26%, #e4f0eb 26% 74%, #f4e1e8 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #dbd8eb 35%, #e2f0f5 35% 70%, #f4f4f4 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #dbd8eb 80%, #e2f0f5 0);
    color: #f4f4f4;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dbd8eb 26%, #e2f0f5 26% 74%, #f4f4f4 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ffffff 26%, #f4e1e8 26% 50%, #e2f0f5 50% 74%, #dbd8eb 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #e2f0f5 26%, #ffffff 26% 50%, #e4f0eb 50% 74%, #eed1d6 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #dbd8eb 26%, #fffcd2 26% 50%, #eed1d6 50% 74%, #f4e1e8 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #eed1d6 26%, #FAF1EA 26% 50%, #ffffff 50% 74%, #e2f0f5 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #fffcd2 26%, #e4f0eb 26% 50%, #f4e1e8 50% 74%, #ffffff 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #dbd8eb 26%, #e2f0f5 26% 50%, #f4f4f4 50% 74%, #ffffff 74%);
}.header-desc h1:before{content: '婴儿'}.header-desc p:before{content: '这是一组像初生婴儿般纯洁的配色，通过将男女都很适用的淡雪酪色与白色结合而表现出来'}