
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #d8b38c;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#d8b38c';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #c5a387;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#c5a387';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #b2947b;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#b2947b';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #e6cbb9;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#e6cbb9';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #f9ede4;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#f9ede4';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #fdf8ea;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#fdf8ea';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #dbbeab;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#dbbeab';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #d0d6b4;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#d0d6b4';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #f1d9dc;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#f1d9dc';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f9ede4 50%, #d8b38c 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #d8b38c;
    color: #f9ede4;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f9ede4 50%, #d8b38c 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f9ede4 50%, #d8b38c 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #fdf8ea 50%, #c5a387 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #c5a387;
    color: #fdf8ea;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fdf8ea 50%, #c5a387 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #fdf8ea 50%, #c5a387 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #b2947b 50%, #f9ede4 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #f9ede4;
    color: #b2947b;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b2947b 50%, #f9ede4 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #b2947b 50%, #f9ede4 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f9ede4 50%, #e6cbb9 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #e6cbb9;
    color: #f9ede4;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f9ede4 50%, #e6cbb9 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f9ede4 50%, #e6cbb9 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #fdf8ea 50%, #d0d6b4 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #d0d6b4;
    color: #fdf8ea;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fdf8ea 50%, #d0d6b4 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #fdf8ea 50%, #d0d6b4 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #c5a387 50%, #f1d9dc 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #f1d9dc;
    color: #c5a387;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #c5a387 50%, #f1d9dc 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #c5a387 50%, #f1d9dc 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f9ede4 35%, #d8b38c 35% 70%, #b2947b 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f9ede4 80%, #d8b38c 0);
    color: #b2947b;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f9ede4 26%, #d8b38c 26% 74%, #b2947b 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #fdf8ea 35%, #c5a387 35% 70%, #dbbeab 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #fdf8ea 80%, #c5a387 0);
    color: #dbbeab;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fdf8ea 26%, #c5a387 26% 74%, #dbbeab 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #b2947b 35%, #f9ede4 35% 70%, #d8b38c 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #b2947b 80%, #f9ede4 0);
    color: #d8b38c;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b2947b 26%, #f9ede4 26% 74%, #d8b38c 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f9ede4 35%, #e6cbb9 35% 70%, #b2947b 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f9ede4 80%, #e6cbb9 0);
    color: #b2947b;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f9ede4 26%, #e6cbb9 26% 74%, #b2947b 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #fdf8ea 35%, #d0d6b4 35% 70%, #d8b38c 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #fdf8ea 80%, #d0d6b4 0);
    color: #d8b38c;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fdf8ea 26%, #d0d6b4 26% 74%, #d8b38c 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #c5a387 35%, #f1d9dc 35% 70%, #fdf8ea 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #c5a387 80%, #f1d9dc 0);
    color: #fdf8ea;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #c5a387 26%, #f1d9dc 26% 74%, #fdf8ea 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f9ede4 26%, #d8b38c 26% 50%, #b2947b 50% 74%, #e6cbb9 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #fdf8ea 26%, #c5a387 26% 50%, #dbbeab 50% 74%, #f1d9dc 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #b2947b 26%, #f9ede4 26% 50%, #d8b38c 50% 74%, #dbbeab 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f9ede4 26%, #e6cbb9 26% 50%, #b2947b 50% 74%, #c5a387 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #fdf8ea 26%, #d0d6b4 26% 50%, #d8b38c 50% 74%, #c5a387 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #c5a387 26%, #f1d9dc 26% 50%, #fdf8ea 50% 74%, #e6cbb9 74%);
}.header-desc h1:before{content: '拿铁'}.header-desc p:before{content: '拿铁给人一种浓醇温暖的感觉，这组配色就像拿铁一样。米黄色和棕色搭配在一起，给人高雅、冷静的印象。用粉色和黄绿色作点缀色，可以增加草莓、抹茶等的甜美印象'}