
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #ab1c23;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#ab1c23';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #000000;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#000000';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #223652;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#223652';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #d8c8ac;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#d8c8ac';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #705442;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#705442';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #ffffff;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#ffffff';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #c19723;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#c19723';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #3c513e;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#3c513e';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #838287;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#838287';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #ab1c23 50%, #223652 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #223652;
    color: #ab1c23;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ab1c23 50%, #223652 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #ab1c23 50%, #223652 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #000000 50%, #d8c8ac 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #d8c8ac;
    color: #000000;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #000000 50%, #d8c8ac 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #000000 50%, #d8c8ac 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #705442 50%, #ffffff 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #ffffff;
    color: #705442;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #705442 50%, #ffffff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #705442 50%, #ffffff 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #000000 50%, #ab1c23 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #ab1c23;
    color: #000000;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #000000 50%, #ab1c23 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #000000 50%, #ab1c23 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #c19723 50%, #3c513e 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #3c513e;
    color: #c19723;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #c19723 50%, #3c513e 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #c19723 50%, #3c513e 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #223652 50%, #838287 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #838287;
    color: #223652;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #223652 50%, #838287 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #223652 50%, #838287 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ab1c23 35%, #223652 35% 70%, #ffffff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ab1c23 80%, #223652 0);
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ab1c23 26%, #223652 26% 74%, #ffffff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #000000 35%, #d8c8ac 35% 70%, #ab1c23 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #000000 80%, #d8c8ac 0);
    color: #ab1c23;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #000000 26%, #d8c8ac 26% 74%, #ab1c23 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #705442 35%, #ffffff 35% 70%, #223652 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #705442 80%, #ffffff 0);
    color: #223652;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #705442 26%, #ffffff 26% 74%, #223652 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #000000 35%, #ab1c23 35% 70%, #838287 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #000000 80%, #ab1c23 0);
    color: #838287;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #000000 26%, #ab1c23 26% 74%, #838287 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #c19723 35%, #3c513e 35% 70%, #d8c8ac 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #c19723 80%, #3c513e 0);
    color: #d8c8ac;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #c19723 26%, #3c513e 26% 74%, #d8c8ac 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #223652 35%, #838287 35% 70%, #3c513e 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #223652 80%, #838287 0);
    color: #3c513e;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #223652 26%, #838287 26% 74%, #3c513e 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ab1c23 26%, #223652 26% 50%, #ffffff 50% 74%, #c19723 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #000000 26%, #d8c8ac 26% 50%, #ab1c23 50% 74%, #705442 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #705442 26%, #ffffff 26% 50%, #223652 50% 74%, #c19723 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #000000 26%, #ab1c23 26% 50%, #838287 50% 74%, #705442 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #c19723 26%, #3c513e 26% 50%, #d8c8ac 50% 74%, #223652 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #223652 26%, #838287 26% 50%, #3c513e 50% 74%, #000000 74%);
}.header-desc h1:before{content: '伦敦女孩'}.header-desc p:before{content: '方格裙、菱形袜......参照伦敦女性的时尚搭配方式，打造的一组美丽却不妖娆的中性配色方案'}