
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #f7ecd3;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#f7ecd3';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #cba98e;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#cba98e';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #a28d7e;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#a28d7e';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #b0bca6;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#b0bca6';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #899b86;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#899b86';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #e8d9ca;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#e8d9ca';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #fcf7f2;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#fcf7f2';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #eddca6;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#eddca6';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #d7a58d;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#d7a58d';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #b0bca6 50%, #f7ecd3 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #f7ecd3;
    color: #b0bca6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b0bca6 50%, #f7ecd3 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #b0bca6 50%, #f7ecd3 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #a28d7e 50%, #cba98e 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #cba98e;
    color: #a28d7e;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #a28d7e 50%, #cba98e 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #a28d7e 50%, #cba98e 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #eddca6 50%, #a28d7e 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #a28d7e;
    color: #eddca6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #eddca6 50%, #a28d7e 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #eddca6 50%, #a28d7e 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #d7a58d 50%, #e8d9ca 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #e8d9ca;
    color: #d7a58d;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d7a58d 50%, #e8d9ca 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #d7a58d 50%, #e8d9ca 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f7ecd3 50%, #b0bca6 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #b0bca6;
    color: #f7ecd3;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f7ecd3 50%, #b0bca6 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f7ecd3 50%, #b0bca6 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #899b86 50%, #fcf7f2 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #fcf7f2;
    color: #899b86;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #899b86 50%, #fcf7f2 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #899b86 50%, #fcf7f2 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #b0bca6 35%, #f7ecd3 35% 70%, #cba98e 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #b0bca6 80%, #f7ecd3 0);
    color: #cba98e;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b0bca6 26%, #f7ecd3 26% 74%, #cba98e 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #a28d7e 35%, #cba98e 35% 70%, #899b86 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #a28d7e 80%, #cba98e 0);
    color: #899b86;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #a28d7e 26%, #cba98e 26% 74%, #899b86 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #eddca6 35%, #a28d7e 35% 70%, #b0bca6 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #eddca6 80%, #a28d7e 0);
    color: #b0bca6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #eddca6 26%, #a28d7e 26% 74%, #b0bca6 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #d7a58d 35%, #e8d9ca 35% 70%, #b0bca6 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #d7a58d 80%, #e8d9ca 0);
    color: #b0bca6;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d7a58d 26%, #e8d9ca 26% 74%, #b0bca6 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f7ecd3 35%, #b0bca6 35% 70%, #899b86 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f7ecd3 80%, #b0bca6 0);
    color: #899b86;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f7ecd3 26%, #b0bca6 26% 74%, #899b86 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #899b86 35%, #fcf7f2 35% 70%, #a28d7e 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #899b86 80%, #fcf7f2 0);
    color: #a28d7e;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #899b86 26%, #fcf7f2 26% 74%, #a28d7e 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #b0bca6 26%, #f7ecd3 26% 50%, #cba98e 50% 74%, #a28d7e 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #a28d7e 26%, #cba98e 26% 50%, #899b86 50% 74%, #e8d9ca 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #eddca6 26%, #a28d7e 26% 50%, #b0bca6 50% 74%, #f7ecd3 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #d7a58d 26%, #e8d9ca 26% 50%, #b0bca6 50% 74%, #fcf7f2 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f7ecd3 26%, #b0bca6 26% 50%, #899b86 50% 74%, #eddca6 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #899b86 26%, #fcf7f2 26% 50%, #a28d7e 50% 74%, #cba98e 74%);
}.header-desc h1:before{content: '天然的'}.header-desc p:before{content: '天然的感觉，就是自然天成、不加修饰的感觉。将浅灰色等各种自然的颜色结合在一起并统一色调，就可以营造出质朴、怀旧、平和的感觉'}