
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #c37d94;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#c37d94';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #e2ccce;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#e2ccce';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #9bc5db;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#9bc5db';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #aba4c2;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#aba4c2';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #cb8b89;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#cb8b89';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #b8cae0;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#b8cae0';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #f6f7ed;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#f6f7ed';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #e6c9dd;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#e6c9dd';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #b2a25c;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#b2a25c';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #e2ccce 50%, #c37d94 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #c37d94;
    color: #e2ccce;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e2ccce 50%, #c37d94 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #e2ccce 50%, #c37d94 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #aba4c2 50%, #b8cae0 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #b8cae0;
    color: #aba4c2;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #aba4c2 50%, #b8cae0 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #aba4c2 50%, #b8cae0 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f6f7ed 50%, #cb8b89 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #cb8b89;
    color: #f6f7ed;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f6f7ed 50%, #cb8b89 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f6f7ed 50%, #cb8b89 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #9bc5db 50%, #e2ccce 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #e2ccce;
    color: #9bc5db;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #9bc5db 50%, #e2ccce 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #9bc5db 50%, #e2ccce 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #b2a25c 50%, #f6f7ed 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #f6f7ed;
    color: #b2a25c;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b2a25c 50%, #f6f7ed 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #b2a25c 50%, #f6f7ed 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #e6c9dd 50%, #aba4c2 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #aba4c2;
    color: #e6c9dd;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e6c9dd 50%, #aba4c2 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #e6c9dd 50%, #aba4c2 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #e2ccce 35%, #c37d94 35% 70%, #9bc5db 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #e2ccce 80%, #c37d94 0);
    color: #9bc5db;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e2ccce 26%, #c37d94 26% 74%, #9bc5db 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #aba4c2 35%, #b8cae0 35% 70%, #c37d94 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #aba4c2 80%, #b8cae0 0);
    color: #c37d94;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #aba4c2 26%, #b8cae0 26% 74%, #c37d94 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f6f7ed 35%, #cb8b89 35% 70%, #e2ccce 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f6f7ed 80%, #cb8b89 0);
    color: #e2ccce;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f6f7ed 26%, #cb8b89 26% 74%, #e2ccce 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #9bc5db 35%, #e2ccce 35% 70%, #b2a25c 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #9bc5db 80%, #e2ccce 0);
    color: #b2a25c;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #9bc5db 26%, #e2ccce 26% 74%, #b2a25c 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #b2a25c 35%, #f6f7ed 35% 70%, #aba4c2 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #b2a25c 80%, #f6f7ed 0);
    color: #aba4c2;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #b2a25c 26%, #f6f7ed 26% 74%, #aba4c2 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #e6c9dd 35%, #aba4c2 35% 70%, #b8cae0 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #e6c9dd 80%, #aba4c2 0);
    color: #b8cae0;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e6c9dd 26%, #aba4c2 26% 74%, #b8cae0 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #e2ccce 26%, #c37d94 26% 50%, #9bc5db 50% 74%, #f6f7ed 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #aba4c2 26%, #b8cae0 26% 50%, #c37d94 50% 74%, #e2ccce 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f6f7ed 26%, #cb8b89 26% 50%, #e2ccce 50% 74%, #b8cae0 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #9bc5db 26%, #e2ccce 26% 50%, #b2a25c 50% 74%, #cb8b89 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #b2a25c 26%, #f6f7ed 26% 50%, #aba4c2 50% 74%, #e6c9dd 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #e6c9dd 26%, #aba4c2 26% 50%, #b8cae0 50% 74%, #e2ccce 74%);
}.header-desc h1:before{content: '巴黎风格'}.header-desc p:before{content: '这是一组满足了女性所有幻想的女性化配色，既展现了浪漫可爱的少女心，又体现了成熟女人的高贵优雅。用金黄色做点缀，还可以提升奢华感。'}