
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #fcf2ba;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#fcf2ba';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #dcc796;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#dcc796';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #cab590;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#cab590';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #f2dbe1;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#f2dbe1';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #e3b1b4;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#e3b1b4';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #ffffff;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#ffffff';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #f1d9d0;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#f1d9d0';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #d3baaa;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#d3baaa';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #bca19c;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#bca19c';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #dcc796 50%, #fcf2ba 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #fcf2ba;
    color: #dcc796;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dcc796 50%, #fcf2ba 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #dcc796 50%, #fcf2ba 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #ffffff 50%, #cab590 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #cab590;
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffffff 50%, #cab590 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #ffffff 50%, #cab590 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #dcc796 50%, #f2dbe1 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #f2dbe1;
    color: #dcc796;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dcc796 50%, #f2dbe1 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #dcc796 50%, #f2dbe1 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #bca19c 50%, #ffffff 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #ffffff;
    color: #bca19c;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #bca19c 50%, #ffffff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #bca19c 50%, #ffffff 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f1d9d0 50%, #e3b1b4 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #e3b1b4;
    color: #f1d9d0;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f1d9d0 50%, #e3b1b4 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f1d9d0 50%, #e3b1b4 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #d3baaa 50%, #bca19c 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #bca19c;
    color: #d3baaa;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d3baaa 50%, #bca19c 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #d3baaa 50%, #bca19c 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #dcc796 35%, #fcf2ba 35% 70%, #f2dbe1 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #dcc796 80%, #fcf2ba 0);
    color: #f2dbe1;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dcc796 26%, #fcf2ba 26% 74%, #f2dbe1 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ffffff 35%, #cab590 35% 70%, #fcf2ba 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ffffff 80%, #cab590 0);
    color: #fcf2ba;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffffff 26%, #cab590 26% 74%, #fcf2ba 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #dcc796 35%, #f2dbe1 35% 70%, #ffffff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #dcc796 80%, #f2dbe1 0);
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #dcc796 26%, #f2dbe1 26% 74%, #ffffff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #bca19c 35%, #ffffff 35% 70%, #cab590 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #bca19c 80%, #ffffff 0);
    color: #cab590;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #bca19c 26%, #ffffff 26% 74%, #cab590 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f1d9d0 35%, #e3b1b4 35% 70%, #dcc796 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f1d9d0 80%, #e3b1b4 0);
    color: #dcc796;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f1d9d0 26%, #e3b1b4 26% 74%, #dcc796 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #d3baaa 35%, #bca19c 35% 70%, #fcf2ba 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #d3baaa 80%, #bca19c 0);
    color: #fcf2ba;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d3baaa 26%, #bca19c 26% 74%, #fcf2ba 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #dcc796 26%, #fcf2ba 26% 50%, #f2dbe1 50% 74%, #d3baaa 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ffffff 26%, #cab590 26% 50%, #fcf2ba 50% 74%, #dcc796 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #dcc796 26%, #f2dbe1 26% 50%, #ffffff 50% 74%, #fcf2ba 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #bca19c 26%, #ffffff 26% 50%, #cab590 50% 74%, #f1d9d0 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f1d9d0 26%, #e3b1b4 26% 50%, #dcc796 50% 74%, #fcf2ba 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #d3baaa 26%, #bca19c 26% 50%, #fcf2ba 50% 74%, #ffffff 74%);
}.header-desc h1:before{content: '小资'}.header-desc p:before{content: '这是一组让人感觉有些奢侈的配色。就像女性犒劳自己的礼物。将豪华的金色与象征女性一样温柔的粉色搭配在一起，一个伸着懒腰的女人仿佛就出现在了眼前。'}