
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #8ec6db;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#8ec6db';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #84bfbc;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#84bfbc';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #bddbd4;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#bddbd4';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #7c9ac2;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#7c9ac2';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #f2dad9;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#f2dad9';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #fffde5;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#fffde5';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #d3b887;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#d3b887';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #e0a6b2;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#e0a6b2';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #aca5ce;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#aca5ce';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #f2dad9 50%, #8ec6db 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #8ec6db;
    color: #f2dad9;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f2dad9 50%, #8ec6db 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f2dad9 50%, #8ec6db 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #bddbd4 50%, #84bfbc 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #84bfbc;
    color: #bddbd4;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #bddbd4 50%, #84bfbc 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #bddbd4 50%, #84bfbc 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #d3b887 50%, #fffde5 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #fffde5;
    color: #d3b887;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d3b887 50%, #fffde5 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #d3b887 50%, #fffde5 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #aca5ce 50%, #bddbd4 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #bddbd4;
    color: #aca5ce;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #aca5ce 50%, #bddbd4 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #aca5ce 50%, #bddbd4 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #e0a6b2 50%, #7c9ac2 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #7c9ac2;
    color: #e0a6b2;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e0a6b2 50%, #7c9ac2 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #e0a6b2 50%, #7c9ac2 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #fffde5 50%, #8ec6db 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #8ec6db;
    color: #fffde5;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fffde5 50%, #8ec6db 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #fffde5 50%, #8ec6db 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #f2dad9 35%, #8ec6db 35% 70%, #aca5ce 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #f2dad9 80%, #8ec6db 0);
    color: #aca5ce;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #f2dad9 26%, #8ec6db 26% 74%, #aca5ce 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #bddbd4 35%, #84bfbc 35% 70%, #e0a6b2 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #bddbd4 80%, #84bfbc 0);
    color: #e0a6b2;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #bddbd4 26%, #84bfbc 26% 74%, #e0a6b2 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #d3b887 35%, #fffde5 35% 70%, #84bfbc 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #d3b887 80%, #fffde5 0);
    color: #84bfbc;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #d3b887 26%, #fffde5 26% 74%, #84bfbc 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #aca5ce 35%, #bddbd4 35% 70%, #f2dad9 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #aca5ce 80%, #bddbd4 0);
    color: #f2dad9;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #aca5ce 26%, #bddbd4 26% 74%, #f2dad9 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #e0a6b2 35%, #7c9ac2 35% 70%, #bddbd4 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #e0a6b2 80%, #7c9ac2 0);
    color: #bddbd4;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #e0a6b2 26%, #7c9ac2 26% 74%, #bddbd4 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #fffde5 35%, #8ec6db 35% 70%, #d3b887 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #fffde5 80%, #8ec6db 0);
    color: #d3b887;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #fffde5 26%, #8ec6db 26% 74%, #d3b887 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #f2dad9 26%, #8ec6db 26% 50%, #aca5ce 50% 74%, #e0a6b2 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #bddbd4 26%, #84bfbc 26% 50%, #e0a6b2 50% 74%, #fffde5 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #d3b887 26%, #fffde5 26% 50%, #84bfbc 50% 74%, #f2dad9 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #aca5ce 26%, #bddbd4 26% 50%, #f2dad9 50% 74%, #d3b887 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #e0a6b2 26%, #7c9ac2 26% 50%, #bddbd4 50% 74%, #84bfbc 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #fffde5 26%, #8ec6db 26% 50%, #d3b887 50% 74%, #bddbd4 74%);
}.header-desc h1:before{content: '度假'}.header-desc p:before{content: '想象一下成年女性在度假的样子，这就是本小节的配色主题。用蓝色系的颜色做基调，代表南方清澈的大海，再用沙滩的奶油色，晚霞的紫色、粉色搭配在一起，就会有一种成熟又可爱的风格。'}