
* {
    box-sizing: border-box;
}

#sidebar {
    width: 10%;
    margin-right: 10%;
    display: inline-block;
    background: rgba(0,0,0,0.3);
    height: 800px;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}
#single div:nth-child(1)>div:nth-child(1) {
    background: #ff0000;
}
#single div:nth-child(2)>h1:before {
    content: '1';
}
#single div:nth-child(2)>p:before {
    content: '#ff0000';
}
#single div:nth-child(3)>div:nth-child(1) {
    background: #00ff00;
}
#single div:nth-child(4)>h1:before {
    content: '2';
}
#single div:nth-child(4)>p:before {
    content: '#00ff00';
}
#single div:nth-child(5)>div:nth-child(1) {
    background: #0000ff;
}
#single div:nth-child(6)>h1:before {
    content: '3';
}
#single div:nth-child(6)>p:before {
    content: '#0000ff';
}
#single div:nth-child(7)>div:nth-child(1) {
    background: #ffff00;
}
#single div:nth-child(8)>h1:before {
    content: '4';
}
#single div:nth-child(8)>p:before {
    content: '#ffff00';
}
#single div:nth-child(9)>div:nth-child(1) {
    background: #00ffff;
}
#single div:nth-child(10)>h1:before {
    content: '5';
}
#single div:nth-child(10)>p:before {
    content: '#00ffff';
}
#single div:nth-child(11)>div:nth-child(1) {
    background: #ff00ff;
}
#single div:nth-child(12)>h1:before {
    content: '6';
}
#single div:nth-child(12)>p:before {
    content: '#ff00ff';
}
#single div:nth-child(13)>div:nth-child(1) {
    background: #ff6600;
}
#single div:nth-child(14)>h1:before {
    content: '7';
}
#single div:nth-child(14)>p:before {
    content: '#ff6600';
}
#single div:nth-child(15)>div:nth-child(1) {
    background: #00ff66;
}
#single div:nth-child(16)>h1:before {
    content: '8';
}
#single div:nth-child(16)>p:before {
    content: '#00ff66';
}
#single div:nth-child(17)>div:nth-child(1) {
    background: #6600ff;
}
#single div:nth-child(18)>h1:before {
    content: '9';
}
#single div:nth-child(18)>p:before {
    content: '#6600ff';
}
#double>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #00ff00 50%, #0000ff 0);
}
#double>div:nth-child(1)>div:nth-child(2)>div {
    background: #0000ff;
    color: #00ff00;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ff00 50%, #0000ff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #00ff00 50%, #0000ff 0);
}
#double>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #ff0000 50%, #ff00ff 0);
}
#double>div:nth-child(2)>div:nth-child(2)>div {
    background: #ff00ff;
    color: #ff0000;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ff0000 50%, #ff00ff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #ff0000 50%, #ff00ff 0);
}
#double>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #00ffff 50%, #0000ff 0);
}
#double>div:nth-child(3)>div:nth-child(2)>div {
    background: #0000ff;
    color: #00ffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ffff 50%, #0000ff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #00ffff 50%, #0000ff 0);
}
#double>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #00ff66 50%, #ffff00 0);
}
#double>div:nth-child(4)>div:nth-child(2)>div {
    background: #ffff00;
    color: #00ff66;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ff66 50%, #ffff00 0);
    background-size: 20% 100px;
}
#double>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #00ff66 50%, #ffff00 0);
}
#double>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #00ffff 50%, #ff00ff 0);
}
#double>div:nth-child(5)>div:nth-child(2)>div {
    background: #ff00ff;
    color: #00ffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ffff 50%, #ff00ff 0);
    background-size: 20% 100px;
}
#double>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #00ffff 50%, #ff00ff 0);
}
#double>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(154deg, #0000ff 50%, #ff6600 0);
}
#double>div:nth-child(6)>div:nth-child(2)>div {
    background: #ff6600;
    color: #0000ff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#double>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #0000ff 50%, #ff6600 0);
    background-size: 20% 100px;
}
#double>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #0000ff 50%, #ff6600 0);
}
#triple>div:nth-child(1)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ff0000 35%, #00ff00 35% 70%, #0000ff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(1)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ff0000 80%, #00ff00 0);
    color: #0000ff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(1)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ff0000 26%, #00ff00 26% 74%, #0000ff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(1)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(2)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ffff00 35%, #00ffff 35% 70%, #ff00ff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(2)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ffff00 80%, #00ffff 0);
    color: #ff00ff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(2)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffff00 26%, #00ffff 26% 74%, #ff00ff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(2)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(3)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ffff00 35%, #00ff00 35% 70%, #ff6600 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(3)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ffff00 80%, #00ff00 0);
    color: #ff6600;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(3)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ffff00 26%, #00ff00 26% 74%, #ff6600 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(3)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(4)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #00ff66 35%, #ffff00 35% 70%, #00ffff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(4)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #00ff66 80%, #ffff00 0);
    color: #00ffff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(4)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ff66 26%, #ffff00 26% 74%, #00ffff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(4)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(5)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #ff00ff 35%, #ff6600 35% 70%, #0000ff 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(5)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #ff00ff 80%, #ff6600 0);
    color: #0000ff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(5)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #ff00ff 26%, #ff6600 26% 74%, #0000ff 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(5)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#triple>div:nth-child(6)>div:nth-child(1)>div {
    background: linear-gradient(45deg, #00ffff 35%, #00ff66 35% 70%, #00ff00 70%);
    background-size: 100% 100%;
}

#triple>div:nth-child(6)>div:nth-child(2)>div {
    background: linear-gradient(180deg, #00ffff 80%, #00ff66 0);
    color: #00ff00;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

#triple>div:nth-child(6)>div:nth-child(3)>div {
    background: linear-gradient(90deg, #00ffff 26%, #00ff66 26% 74%, #00ff00 74%);
    background-size: 35% 500px;
}

#triple>div:nth-child(6)>div:nth-child(4)>div {
    background: linear-gradient(154deg, #f55 50%, #55f 0);
}
#quadruple>div:nth-child(1)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ff0000 26%, #00ff00 26% 50%, #0000ff 50% 74%, #ffff00 74%);
}
#quadruple>div:nth-child(2)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ffff00 26%, #0000ff 26% 50%, #ff00ff 50% 74%, #00ff00 74%);
}
#quadruple>div:nth-child(3)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #ff6600 26%, #00ffff 26% 50%, #0000ff 50% 74%, #00ff00 74%);
}
#quadruple>div:nth-child(4)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #00ffff 26%, #ff00ff 26% 50%, #ffff00 50% 74%, #00ff00 74%);
}
#quadruple>div:nth-child(5)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #00ff66 26%, #00ff00 26% 50%, #0000ff 50% 74%, #ffff00 74%);
}
#quadruple>div:nth-child(6)>div>div {
    padding-bottom: 200%;
    height: 0;
    background: linear-gradient(30deg, #00ff00 26%, #ff00ff 26% 50%, #ff6600 50% 74%, #00ffff 74%);
}