
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.container #main, .container #sidebar {
    margin-top: 150px;
}

#sidebar {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    text-align: center;
}


#sidebar ul li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 25px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #0a0a0a;
}

#sidebar ul li:hover {
    background: red;
}

#sidebar a {
    text-underline: none;
    text-decoration: none;
    color: #ff00ff;
    font-size: 22px;
}

.color-header {
    border-bottom: 1px solid;
    width: 300px;
    padding-top: 30px;
    margin-top: 50px;
    font-size: 30px;
    color: #4e4e4e;
}

#main {
    width: 80%;
    display: inline-block;
    float: right;
}

#single div {
    height: 100px;
}
#double>div>div {
    width: 100%;
}

#double>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#double>div>div:nth-child(2)>div:after {
    content: 'Shopping';
}

#triple>div>div {
    width: 100%;
}

#triple>div>div>div {
    padding-bottom: 50%;
    height: 0;
}

#quadruple>div>div {
    width: 100%;
}


#footer {
    clear: both;
    width: 100%;
    background: #DDDDDD;
    padding: 35px 0 30px 0;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

.fuji-img {
    width: 50%;
}


ul,ol {
}

ol li, ul li {

}

.ingredients {
    margin: 30px 0;
}

.hero {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;

    /*display: block;*/
}

.steps {
    color: #000;
    font-family: Songti SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    text-transform: lowercase;
}

.steps ol {
    list-style: none;
    counter-reset: li
}

.steps li {
    counter-increment: li
}

.steps li::before {
    content: counter(li);
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.flavor {
    color: #000;
    font-family: Songti SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    text-transform: lowercase;
}

.tips {
    padding: 10px 0;
}

.tips h1 {
    color: var(--color-2, #2E5902);
    font-family: Songti SC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.tips p {
    color: #000;
    font-family: Songti SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}